{% extends 'baseForAdv.html' %}
{% block content %}
{% set channelID = channelID %}
    
    <br>
    <h1>Updating</h1>
    <br>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.date.label() }} <br> {{ form.date() }} <br><br>
        {{ form.channelLink.label() }} <br> {{ form.channelLink() }} <br><br>
        {{ form.price.label() }} <br> {{ form.price() }} <br><br>
        {{ form.numberOfNewSubs.label() }} <br> {{ form.numberOfNewSubs() }} <br><br>
        {{ form.submit() }}
    </form>
{% endblock %}